.tech-stack-container {
  text-align: center;
  margin: 20px;
}

.tech-stack-title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--primary-font);
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.tech-icons span {
  transition: transform 0.2s ease-in-out;
}

.tech-icons span:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .tech-stack-title {
    font-size: 2rem;
  }

  .tech-icons {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
}
